# Created by .ignore support plugin (hsz.mobi)
### WordPress template
# ignore everything in the root except the "wp-content" directory.

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
!mu-plugins/
!plugins/
!themes/

# ignore these plugins
plugins/hello.php

uploads/

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.env
*.sql
*.sqlite

